@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Scroll bar */
* {
  scrollbar-width: unset;
  scrollbar-color: #bcbcbc #000000;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #bb86fc;
  border-radius: 6px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b66ec;
}
